fastapi
uvicorn[standard]
pydantic
langchain
langchain-community
langchain-openai  # If using OpenAI
langchain-google-vertexai # If using Gemini
langchain-text-splitters
chromadb
langchain-groq
langchain-huggingface 
sentence-transformers
huggingface-hub
langchain-core
python-dotenv
gunicorn
uvicorn[standard]
--extra-index-url https://download.pytorch.org/whl/cpu
torch